.cardProducts {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
  }
}
