.barra {
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  margin: 0;
  position: static;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.wrapperTitle {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: palevioletred;
  margin-right: 1rem;
}

.title2 {
  font-size: 40px;
  font-weight: bold;
  margin-right: 1rem;
}

.title3 {
  font-size: 40px;
  font-weight: bold;
  color: cadetblue;
}

@media screen and (max-width: 1300px) and (min-width: 1280px) {
  .barra {
    width: 100%;
  }
}
