.container {
  width: 90%;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.title {
  margin-top: 5rem;
  display: flex;
  font-weight: bold;
  color: cadetblue;
  justify-content: center;
  margin-bottom: 5rem;
}

.category {
  float: right;
  width: 20%;
  font-size: 15px;
}

.categoryTitle {
  font-size: 20px;
  font-style: inherit;
}

.fecha {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

.author {
  float: left;
  width: 20%;
}

.imageAuthor {
  height: 100px;
  float: left;
}

.authorName {
  color: cadetblue;
  font-weight: bold;
}

.authorNameBox {
  margin-bottom: 1rem;
}

.authorResume {
  font-size: 12.5px;
  font-style: italic;
  display: inline-block;
}

.categoryLink {
  color: palevioletred;
}

.clickAca {
  margin-right: 5rem;
  &:hover {
    transform: scale(1.5);
    transition-duration: 0.4s;
  }
}

.img {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  margin-top: 6rem;
  font-size: 19px;
  margin-bottom: 2rem;
  justify-content: center;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-align: justify;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
  letter-spacing: 0px;
  word-spacing: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.nextPost {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.cardNexPost {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  color: rebeccapurple;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
  }
}

.nextPostTitle {
  margin-bottom: -4rem;
  font-size: 30px;
  color: cornflowerblue;
}

.notProduct {
  touch-action: manipulation;
  cursor: pointer;
}
