.inputWrapperSearch {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: -5rem;
}

.icon {
  color: black !important;
  font-size: 29px;
  margin-top: 1rem;
  margin-left: -3rem;
  cursor: pointer;
}

.filter {
  justify-content: center;
  display: flex;
  margin-top: 5rem;
}

.filterText {
  margin-left: 1rem;
}

.iconFilter {
  display: inline-block;
  margin-left: 1rem;
  touch-action: manipulation;
  cursor: pointer;
}

.swal-wide {
  width: 1850px !important;
}

.inputSearch {
  width: 700px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.cardWrapperProducts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ultimosArt {
  display: flex;
  font-size: 30px;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 3rem;
}
