.container {
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.here {
  float: right;
  margin-left: 1rem;
  touch-action: manipulation;
  cursor: pointer;
  color: red;
  &:hover {
    transform: scale(1.5);
    transition-duration: 0.1s;
  }
}

.please {
  margin-left: 7rem;
}
